* {
    text-align: center;
    font-family: monospace; 
}

body {
    background-color: powderblue;
}

p {
    padding: 10px 20%;
}

.results {
    color: darkred;
    font-weight: bold;
    font-size: 200%;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: green;
    color: white;
    border-radius: 50%;
}

.button:hover {
    background-color: yellowgreen;
}